/*   
Author: Thien Nguyen
Author URI: http://nathiwos.com
Version: 0.0.1
Desc: Style for articles page
*/
/**************** ARTICLES STYLE ****************/
article .folder-title{
	margin-top: 10px;
}
article .folder-title h1{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 36px;
	font-weight: normal;
	color: #232222;
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #D8D5D5;
}

article section.archive{
	color: #2E2D2D;
	margin: 30px 0;
	padding-bottom: 30px;
	padding-left:200px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px dashed #BABABA;
}

article section.archive h1{
	font-size: 26px;
	font-weight: normal;
	color: #232222;
}
article section a{
	text-decoration: none;
	color: inherit;
}
article section.archive a:hover{
	color: #16a1c4;
}
article section.archive .illus{
	width: 180px;
	max-height: 200px;
	background: #F1F0F1;
	position: absolute;
	top: 5px;
	left: 0;
}
article section.archive .illus img{
	width: 180px;
	max-height: 200px;
}
article section .meta{
	margin-top: 10px;
	color: #16a1c4;
}
article section .meta div{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-left: 24px;
	margin-right: 20px;
}
article section .meta a:hover{
	text-decoration: underline;
}
article section .post-date {
	background:url(../images/calendar-16x16.png) no-repeat left center;
}
article section .post-cat {
	background:url(../images/cat-16x16.png) no-repeat left center;
}
article section.archive .desc{
	margin-top: 16px;
}
article section.archive .more-view{
	display: block;
	color: #16a1c4;
	font-size: 16px;
	margin-top: 10px;
}
article section.archive .more-view:hover{
	text-decoration: underline;
}

#article-detail {
	color: #2E2D2D;
	margin: 30px 0;
	padding-bottom: 30px;
	padding-left:0px;
}
#article-detail .post-title{
	font-size: 30px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	color: #232222;
}
#article-detail  .post-content h1,
#article-detail  .post-content h2,
#article-detail  .post-content h3,
#article-detail  .post-content h4,
#article-detail  .post-content h5,
#article-detail  .post-content h6{
	font-weight: normal;
	margin-top:24px;
	color:#232222;
	margin-bottom: 20px;
}
#article-detail  .post-content p{
	margin:20px 0;
}
article .post-content a{
	text-decoration: none;
	color: #16a1c4;
}

#article-detail .post-content .wp-caption{
	margin:20px;
}
