/*   
Author: Thien Nguyen
Author URI: http://nathiwos.com
Version: 0.0.1
Desc: Style for product-detail block;
*/
/**************** PRODUCT STYLE *****************/
#product-detail {
	margin-top: 24px;
}
#product-detail .big-image img{
	width: 400px;
	height: 300px;
}
#product-detail .gallery-thumbs{
	margin-top: 36px;
}
#product-detail .gallery-thumbs li{
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
#product-detail .gallery-thumbs img{
	width: 60px;
	height: 50px;
}
#product-detail .summary{
	overflow: hidden;
}
#product-detail .summary h1,
#product-detail .summary h2{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 30px;
}
#product-detail .summary h1{
	font-size: 24px;
	color: #232222;
}
#product-detail .summary h2.old-price{
	margin-bottom: 15px;	
}
#product-detail .summary h1.price{
	color: #EF3F47;
}

#product-detail .summary p{
	margin: 8px 0;
}
#product-detail .summary a{
	color: #16a1c4;
	text-decoration: none;
}
#product-detail .summary a:hover{
	text-decoration: underline;
}
#product-detail .summary .product_meta{
	margin-top: 10px;
	font-style: italic;
}
#product-detail .summary label{
	color: #232222; 
	font-weight: bold;
}
#product-detail .summary .cart{
	border: 1px solid #BBBABA;
	margin-top: 20px;
	overflow: hidden;
	width: 99%;
}
#product-detail .summary table{
	border-collapse: collapse;
}
#product-detail .summary td{
	padding: 10px 0 10px 10px;
	vertical-align: middle;
	position: relative;
}
#product-detail .summary td select{
	width: 176px;
}
#product-detail .summary select:focus,
#product-detail .summary input:focus{
	outline: 0;
}
#product-detail .summary .quantity input:not([type='button']){
	padding: 11px 10px 10px 10px;
	padding-right: 16px;
	text-align: center;
	width: 50px;
	border: 1px solid #e8e6e6;
	border-right: 15px solid #BBBABA;
	background-color: #FAFAFA;
}
#product-detail .summary .quantity{
	position: relative;
	width: 170px;
	text-align: right;
	margin-top: 20px;
	margin-left: 5px;
}
#product-detail .summary .quantity input[type='button']{
	display: block;
	margin: 0;
	width: 20px;
	height: 20px;
	border:1px solid #ffffff;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	position: absolute;
}

#product-detail .summary .quantity .minus{
	/*background: url(images/arrow-up-red.png) no-repeat center center;*/
	background-color: #FF6565;
	right: -3px;
	top: 21px;
}
#product-detail .summary .quantity .plus{
	/*background: url(images/arrow-down-cyan.png) no-repeat center center;*/
	background-color: #26BDEF;
	right: -3px;
	top: -1px;
}
#product-detail .summary .single_add_to_cart_button{
	padding: 12px 18px;
	border: none;
	font-size: 14px;
	font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-weight: bold;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	cursor: pointer;
	background: #45b7e3;
	color: #FFFFFF;
	margin: 20px 0 20px 15px;
}
#product-detail .summary .single_add_to_cart_button:hover{
	background: #31afdf;
}
#product-detail .woocommerce-tabs{
	margin-top: 80px;
	margin-bottom: 50px;
	position: relative;
}
#product-detail .woocommerce-tabs .tabs{
	margin-left: 15px;
	height: 42px;
	position: absolute;
	top:-42px;
}
#product-detail .woocommerce-tabs .tabs a{
	text-decoration: none;
	color: inherit;
	display: block;
}
#product-detail .woocommerce-tabs .tabs li{
	display: inline-block;
	width: 142px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	border: 1px solid #BBBABA;
	border-bottom: 0;
	margin: 0;
	float: left;
	cursor: pointer;
}
#product-detail .woocommerce-tabs .tabs li.active{
	background-color: #45B7E3;
	color: #FFFFFF;
	border: 0;
	height: 43px;
}
#product-detail .woocommerce-tabs .entry-content{
	border-top: 1px solid #D8D5D5;
	margin-top: 0px;
}
#product-detail .woocommerce-tabs .entry-content h1,
#product-detail .woocommerce-tabs .entry-content h2,
#product-detail .woocommerce-tabs .entry-content h3,
#product-detail .woocommerce-tabs .entry-content h4,
#product-detail .woocommerce-tabs .entry-content h5,
#product-detail .woocommerce-tabs .entry-content h6{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: normal;
	margin: 20px 0;
	color: #232222;
}

#product-detail .woocommerce-tabs .entry-content a{
	color: #16a1c4;
	text-decoration: none;
}
#product-detail .woocommerce-tabs .entry-content a:hover{
	text-decoration: underline;
}
